/* card */
$card-bg: #fff;
$card-min-height:50vh;

/* card header */
$card-header-height:50px;
$card-header-line-height:50px;
$card-header-bg: #f39c12;
$card-header-title: 1rem;

/* componnet modify */
$card-header-primary-bg: #2980b9;
$card-header-info-bg:#9b59b6;