.section-box-state{
	@extend .section-resume;
}

.box-state{
	@extend .card;
	@extend .col-xs-12;
	padding-top: .5rem;
	.state-title{
		@extend .card-title;
		font-size: 1.5rem;
		padding:1rem 0;
		.item-title-right{
			float: right;
			font-size: 1rem;
			color:darken(#b0bec5,5%);
		}
		.label-state{
			display: inline-block;
			width: 10px;
			height: 10px;
			&.info{
				background-color: $brand-info;
			}
			@extend .info;
		}
	}
	.state-body{
		@extend .card-block;
		.state-img{
			@extend .img-fluid;
		}
	}
	.state-footer{
		@extend .card-footer;
		.footer-text{
			color:#b0bec5;
		}
	}
}

