.section-box-state{
	@extend .section-resume;
	@extend .row;
}

.box-state{
	@extend .col-xs-12;
	.box-state-item{
		@extend .card;
		padding:1rem;
	}
	.state-title{
		@extend .card-title;
		font-size: 1.2rem;
		padding:.5rem 0;
		.item-title-right{
			float: right;
			font-size: 1rem;
			color:darken(#b0bec5,5%);
		}
		.label-state{
			display: inline-block;
			width: 10px;
			height: 10px;
			&.info{
				background-color: $brand-info;
			}
			@extend .info;
		}
	}
	.state-body{
		@extend .card-block;
		.state-img{
			@extend .img-fluid;
		}
	}
	.state-footer{
		@extend .card-footer;
		background-color: transparent;
		.footer-text{
			color:#b0bec5;
			text-align: center;
		}
	}
	@media(min-width: map-get($grid-breakpoints,lg)){
		&.product-visitors{
			@include setColumn(9);
			.box-state-item{
				height: 469px;
			}
		}
		&.week-sales,
		&.total-charge{
			@include setColumn(3);
			height: 226.5px;
			.state-title{
				text-align: center;
			}
		}
		&.week-sales{
			margin-bottom: 2rem;
		}
		&.website-traffic{
			@include setColumn(6);
			.box-state-item{
				height: 505px;
			}
		}
	}
}

