
.section-resume{
	padding:0 1rem;
	.resume{
		@extend .col-xs-12;
		height: 70px;
		background-color: #fff;
		margin-bottom: 1rem;
		padding-left: 0;
		padding-right: 0;
		.resume-hook{
			width:30%;
			height: 70px;
			line-height: 70px;
			float: left;
			background-color: $brand-info;
			text-align: center;
			color:#fff;
			font-weight: bold;
		}
		.resume-body{
			width:70%;
			float: left;
			padding-left: 1rem;
			padding-top: 1rem;
			.resume-title{
				font-size: 1.2rem;
				margin-bottom: 0;
				font-weight: bold;
			}
			.resume-value{
				font-size: .95rem;
				margin-top: 0;
				font-weight: bold;
			}
		}

		&.total-sales{
			.resume-hook{
				background-color: #ff8761;
			}
			.resume-title{
				color:#ff8761;
			}
		}

		&.new-quote{
			.resume-hook{
				background-color: #57bdde;
			}
			.resume-title{
				color:#57bdde;
			}
		}

		&.orders{
			.resume-hook{
				background-color: #B198DC;
			}
			.resume-title{
				color:#B198DC;
			}
		}

		&.products{
			.resume-hook{
				background-color: #6dc7be;
			}
			.resume-title{
				color:#6dc7be;
			}
		}
	}

	@media(orientation:landscape){
		.resume{
			@include setColumn(6,'xs');
		}
	}

	@media(min-width: map-get($grid-breakpoints,md)){
		.resume{
			@include setColumn(6,'md');
		}
	}

	@media(min-width: map-get($grid-breakpoints,lg)){
		.resume{
			width:24%;
			height:90px;
			margin-left:1.25%;
			float: left;
			position: relative;
			.resume-hook{
				width:35%;
				height:90px;
				line-height: 90px;
			}
			.resume-body{
				width:65%;
				padding-top: 1.5rem;
				.resume-title{
					font-size: 1rem;
				}
				.resume-value{
					font-size: .9rem;
				}
			}
			&:first-of-type{
				margin-left:0;
			}
		}
	}

}