@import "../components/bootstrap/scss/bootstrap";
@import "../components/components-font-awesome/scss/font-awesome";
@import "offcanvas";
@import "heading";
@import "section-resume";
@import "box-states";
@import "user-info";
@import "ratings";

.form-control-search{
	position: absolute;
  top: -.1rem;
  left: 3rem;
}

@media(min-width: map-get($grid-breakpoints,lg)){
	.container-lg{
		@include setColumn(9);
		margin-left: percentage(3/12);
		@include clearfix();
	}
}